<ion-view view-title="Work of the Day (WOD)">
<ion-content>

    <h1 class="title">A. FUERZA</h1>
    <div class="list card">
      <div class="item item-body">
        <div>
          <b>Front Squat</b> 5x3 @80%
        </div>
      </div>
    </div>

      <h1 class="title">B. GIMNASIA</h1>

    <div class="list card">

      <div class="item item-body">
        <div class="bar bar-header">
          <h1 class="title">TABATA</h1>
        </div>
        <div>
          <b>HAND STAND HOLD (With the Wall)</b> 20x10x8
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">C. ACONDICIONAMIENTO</div>
      <div class="item item-body">
        <h3>FOR TIME</h3>

        <div>
          <b>OHS (Over Head Squat)</b> 50 @95/65%
        </div>
      </div>
    </div>

    <div class="row">
      <img ng-src="img/wod.png" style="margin-left: auto;margin-right: auto;display: block;">
    </div>

  </ion-content>
</ion-view>
